<!-- fragment: browse-panel -->
<div th:fragment="browsePanel" id="bmBrowsePanel" xmlns:th="http://www.thymeleaf.org">

                <!-- 搜索 + 快捷入口 -->
                <div class="search-shortcut-area">
                    <div class="home-search-row">
                        <select class="home-search-engine" id="searchEngineSelect">
                            <option value="baidu">百度</option>
                            <option value="quark">夸克</option>
                            <option value="google">谷歌</option>
                        </select>
                        <div class="home-search-box">
                            <input type="text" id="homeSearchInput" name="q" placeholder="输入关键词搜索..." autocomplete="off" spellcheck="false"
                                   onkeydown="if(event.key==='Enter')doHomeSearch()">
                            <button type="button" onclick="doHomeSearch()">搜 索</button>
                        </div>
                    </div>
                    <div class="home-shortcut-links">
                        <a href="https://github.com" target="_blank"><i class="bi bi-github"></i> GitHub</a>
                        <a href="https://translate.google.com" target="_blank"><i class="bi bi-translate"></i> 翻译</a>
                        <a href="https://mail.qq.com" target="_blank"><i class="bi bi-envelope"></i> 邮箱</a>
                        <a href="https://www.jd.com" target="_blank"><i class="bi bi-cart"></i> 京东</a>
                        <a href="https://www.taobao.com" target="_blank"><i class="bi bi-bag"></i> 淘宝</a>
                        <a href="https://www.bilibili.com" target="_blank"><i class="bi bi-play-btn"></i> B站</a>
                        <a href="https://www.zhihu.com" target="_blank"><i class="bi bi-chat-dots"></i> 知乎</a>
                    </div>
                </div>

            </div>